<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<!-- TemplateBeginEditable name="doctitle" -->
<title>Contact</title>
<!-- TemplateEndEditable -->
<link href="../css/dndproj.css" rel="stylesheet" type="text/css">
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
</head>

<body style="height: 1050">
	
<div style="height: 2050px" id="container">
  <nav>
    <ul>
      <li><a href="../index.html">Home</a></li>
	  <li><a href="../about.html">About</a></li>
	  <li><a href="../links.html">Links</a></li>
	  <li><a href="../contact.html">Contact</a></li>
    </ul>
  </nav>
	<header> </header>
	
	<h2><p class="subheader">ABOUT THE CLUB</p></h2>
	
  <div style="float: right; width: 400px; margin-right: 350px; height: 300px;width: 250px; background-image:url(../assets/images/download.png)">&nbsp;</div>
	<div style="float: right; width: 500px; height: 300px"><p style="margin-bottom: -30px">Name: Cooper Monihan</p><p style="margin-bottom: -30px">Title: President</p><p style="margin-bottom: -20px">Year: Junior</p><p style="font-size: 20px">Cooper is the head of our club  he relays information and updates to the rest of the club and manages the meetings  </p>
  </div>
	<div style="float: right; width: 400px; margin-right: 350px; height: 300px;width: 250px; background-image:url(../assets/images/download.png);margin-top: 20px"></div>
	<div style="float: right; width: 500px; height: 300px; margin-top: 20px"><p style="margin-bottom: -30px">Name: Garrett Middleton</p><p style="margin-bottom: -30px">Title: Dungeon master</p><p style="margin-bottom: -20px">Year: Sophomore</p><p style="font-size: 20px">Garrett DMs the prewritten campaign "Out Of The Abyss"(Manages campaings for the club) with several players. He has been a member of the club since (CHANGE!!!!!!!) and started DMing around (CHANGE!!!!!!!).</p></div>
	<div style="float: right; width: 400px; margin-right: 350px; height: 300px;width: 250px; background-image:url(../assets/images/download.png);margin-top: 20px">&nbsp;</div>
	<div style="float: right; width: 500px; height: 300px; margin-top: 20px">
	  <p style="margin-bottom: -30px">Name: Will</p>
	  <p style="margin-bottom: -30px">Title: Dungeon master</p><p style="margin-bottom: -20px">Year: Sophomore</p><p style="font-size: 20px">Will acts as our "Tutorial DM" who keeps things to a basic level and explains rules to new players, he teaches new players and get them used to how the game is run. Then he  sends them out to play in more experienced and complicated campaigns once the player feels ready. </p>
		<p></p>
	</div>
	<div style="float: right; width: 400px; margin-right: 350px; height: 300px;width: 250px; background-image:url(../assets/images/download.png);margin-top: 20px"></div>
	<div style="float: right; width: 500px; height: 300px; margin-top: 20px"><p style="margin-bottom: -30px">Name: Joshua Buenavides</p><p style="margin-bottom: -30px">Title: Dungeon Master</p> <p style="margin-bottom: -20px">Year: Sophomore</p><p style="font-size: 20px">As well as DMing Josh runs our "One Shot Pot" which is where anyone who brings community food puts their stuff for everyone to share. He monitors it so people don't take everything.</p></div>
	<div style="float: right; width: 400px; margin-right: 350px; height: 300px;width: 250px; background-image:url(../assets/images/download.png);margin-top: 20px">&nbsp;</div>
	<div style="float: right; width: 500px; height: 300px; margin-top: 20px"><p style="margin-bottom: -30px">Name: Xavier Moore</p> <p style="margin-bottom: -30px">Title: Dungeon master</p><p style="margin-bottom: -20px">Year: Junior</p><p style="font-size: 20px"></p><p style="font-size: 20px"> Xavier acts as our "Freedom DM" with lots of Homebrew and is very loose with game rules. Meant for experienced players who want to play outside of the traditional rules of the game.</p>
	</div>
	<article>
	</article>
	<footer style="margin-top: 1120px"></footer>
	
</div>
</body>
</html>
